data/**
src/data/**
assets/**
src/dumps/**
swav
Endo-FM
Depth_Anything_V2
SeCu
Unsupervised-Classification
lightning_logs
stl10_binary
src/datasets/**
evaluation_data/**
src/UnsupervisedEvaluation_10FPS
src/UnsupervisedEvaluation_3FPS
src/Experiments/
src/BestPerformances
src/BestPerformances_Plots